{%- import "backend/macros.html" as macros -%}
{%- extends "backend/base.html" -%}


<!-- Provide variable to other files, specify scripts to be downloaded with the app -->
{%- block prepare -%}
    {{super()}}
    {%- set gj.render_head=render_head -%}
    {%- set gj.render_main_screen=render_main_screen -%}
    {%- set gj.render_end=render_end -%}
{%- endblock -%}


<!-- To add something in head specific to the page -->
{% macro render_head() -%}
            
{% endmacro %}



<!-- Render the main view port -->
{% macro render_main_screen() -%}
<div id="login_screen" class="w3-display-middle w3-mobile" style="display: none;width: 10cm;">
    <div>
        <form id="loginForm" class="w3-container" method="POST" action="" role="form">
            {{ form2.hidden_tag() }}
            {{ macros.render_field(form2.username, placeholder="Enter your full name") }}<br>
            {{ macros.render_field(form2.email, placeholder="Email") }}<br>
            {{ macros.render_field(form2.password, placeholder="Password") }}<br>
            {{ macros.render_field(form2.confirm, placeholder="Repeat Password") }}<br>
            <input class="w3-button w3-red w3-hover-red  w3-ripple" type="submit" value="Register">
            <a class="w3-button w3-teal w3-hover-teal w3-right w3-display-center w3-ripple" href="/login">Login</a>
        </form>
    </div>
</div>
{% endmacro %}

<!-- Specify the scripts to be loaded with promises, the entry point is defined in ${file}.js for ${file}.html -->
{% macro render_end() -%}
    <script>
        state.default_screen = "login_screen";
        scripts_to_load=[
            "static/JS/recorder/recorder.js",
            "https://cdn.jsdelivr.net/npm/essentia.js@0.1.0/dist/essentia-wasm.web.js",
            "https://cdn.jsdelivr.net/npm/essentia.js@0.1.0/dist/essentia.js-core.js",  
            "https://cdn.plot.ly/plotly-basic-latest.min.js",
            "https://cdn.jsdelivr.net/npm/jsstore/dist/jsstore.min.js",
            // "https://cdn.jsdelivr.net/npm/essentia.js@0.1.0/dist/essentia.js-plot.js",
            // "https://cdn.jsdelivr.net/npm/essentia.js@0.1.0/dist/essentia.js-extractor.js",
        ];
    </script>
{% endmacro %}